[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://192.168.100.236/pypi/simple"
verify_ssl = false
name = "home"

[dev-packages]
aclprogressbar = {editable = true, path = "."}

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
format = "black src -l 79 tests -l 79"
tests = "python -m unittest -v"
build = "python setup.py sdist bdist_wheel"
